/* Animations  */
.bounce-enter-active {
    animation: bounce-in .3s;
}
.bounce-leave-active {
    animation: bounce-out .3s;
    animation-delay: 0.1s;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes bounce-out {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes bounce-emphasis {
    0% {
        transform: scale(1.0);
    }
    25% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.0);
    }
}

.emphasis {
    animation: bounce-emphasis 0.5s;
    animation-iteration-count: infinite;
}

body {
    background-color: lightcyan;
}

#config {
    position: relative;
    width: 80%;
    padding: 0.5em;
    margin: auto;
    margin-top: 2em;
    background-color: lightyellow;
    border-radius: 1vw;
}

#wrap {
    position: relative;
    display: block;
    width: 30vw;
    height: 30vw;
    padding: 0.5em;
    margin: auto;
    margin-top: 2em;
    background-color: white;
    border-radius: 10px;
    border: 1vw solid white;
}

li.box {
    position: absolute;
    display: flex;
    font-size: 6vw;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1vw;
    line-height: 200%;
    opacity: 1.0;
    box-sizing: border-box;
    transition: transform 0.15s;
}

li.box-hidden {
    transform: scale(0.0)
}

li.box-show {
    transform: scale(1.0)
}

div.number {
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    border: none;
    box-sizing: border-box;
    color: white;
    transition: all 0.1s ease 0.1s;
}

#reset {
    background-color: cadetblue;
    color: white;
    display: block;
    margin: auto;
    width: 25vw;
    height: 5vw;
    border-radius: 10px;
    outline-style: none;
    font-size: 2vw;
    transition: 0.5s;
}

#reset:hover {
    background-color: purple;
}

#reset:active {
    background-color: cornflowerblue;
    transition: 0.1s;
}
